* {
  background-color: #cbe6a8;
  font-family: Yuji Syuku;
  
}

body {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.input_area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 7px;
  width: 40px;
  height: 150px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
  background-color: #a7d979;
}

button:hover {
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #658349;
}

fieldset {
  width: auto;
}

.chat-text {
  padding: 5%;
  background: #ddebcf;
  font-size: 1.4em;
  margin: 0;
}

.chat-nameTime {
  font-size: 0.9em;
  color: #666;
  text-align: right;
  margin-right: 5px;
  margin-left: 20px;
  text-orientation: upright;
}

h1 {
  color: #61069a;
  display: flex;
  justify-content: center;
}

p {
  font-size: 20px;
}